<div class="form-group no-margin">
    <label for="password">New Password</label>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">
            <i class="fa fa-lock"></i>
        </span>
        <input id="newpassword" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-ng-model="changepassworddata.NewPassword" class="form-control input-lg"
               placeholder="Password" data-password>
    </div>
</div>
<div class="form-group" style="padding-bottom:10px;">
    <label for="password">Confirm New Password</label>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">
            <i class="fa fa-lock"></i>
        </span>
        <input id="confirmPassword" type="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-ng-model="changepassworddata.ConfirmPassword" class="form-control input-lg"
               placeholder="Confirm password" data-confirm-password>
    </div>
</div>
<span ng-show="registerForm.$error.passwordVerify">
    Passwords must match!
</span>