<div class="single-widget-container" ng-controller="changePasswordController">
    <div class="pageheader">
        Change Password
    </div>
    <div class="well col-md-4" style="margin: 20px 300px">
        <section class="widget login-widget">
            <header class="text-align-center">
                <div ng-hide="message == ''" ng-class="(isError) ? 'alert alert-danger' : ''" style="padding:5px; margin-bottom:-15px;">
                    <h2>{{message}}</h2>
                    <hr />
                </div>
            </header>
            <div class="body">
                <form class="form-login no-margin" role="form" name="changePasswordForm">
                    <fieldset>

                        <div class="form-group no-margin">
                            <label for="password">Current Password</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input id="oldpassword" name="oldpassword" type="password" required data-ng-model="changepassworddata.OldPassword" class="form-control input-lg"
                                       placeholder="Current Password">
                            </div>
                            <span ng-show="changePasswordForm.oldpassword.$error.required">
                                Your current password is required
                            </span>

                        </div>

                        <div changepassword-verify data-ng-model="registerdata.confirmpassword" form-name="changePasswordForm"></div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger" data-ng-click="changepassword()" data-ng-disabled="changePasswordForm.$invalid">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Change Password</small>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
