<div class="single-widget-container" ng-controller="forgotPasswordController" >
    <div class="pageheader">
        Forgot Password
    </div>
    <div class="well col-md-4" style="margin: 60px 300px">
        <section class="widget login-widget">
            <header class="text-align-center">
                <div ng-hide="message == ''" ng-class="(isError) ? 'alert alert-danger' : ''" style="padding:5px; margin-bottom:-15px;">
                    <h4>{{message}}</h4>
                </div>
                <hr />
            </header>
            <div class="body">
                <form class="form-login no-margin" role="form" name="forgotForm">
                    <fieldset>
                        <div class="form-group no-margin">
                            <label for="password">Registered Email</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input id="email" name="email" type="email" required data-ng-model="forgotpasswordData.Email" class="form-control input-lg"
                                       placeholder="Email">
                            </div>
                            <span ng-show="forgotForm.email.$error.required">
                                Email is required, and must be the valid registered email address
                            </span>

                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger" data-ng-click="forgotpassword()" data-ng-disabled="forgotForm.$invalid">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Send reset link</small>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

