<div class="single-widget-container" ng-controller="registerController">
    <div class="pageheader">
        Register
    </div>
    <div class="well col-md-4" style="margin: 20px 300px">
        <section class="widget login-widget">
            <header class="text-align-center">
                <div ng-hide="message == ''" ng-class="(isError) ? 'alert alert-danger' : ''" style="padding:5px; margin-bottom:-15px;">
                    <h4>{{message}}</h4>
                    <hr />
                </div>
            </header>
            <div class="body">
                <form class="form-login no-margin" role="form" name="registerForm">
                    <fieldset>
                        <div class="form-group no-margin">
                            <label for="password">Name</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input id="name" name="name" type="text" required data-ng-model="joinRegisterData.Name" class="form-control input-lg"
                                       placeholder="Full Name">
                            </div>
                            <span ng-show="registerForm.Name.$error.required">
                                Your name is required
                            </span>
                        </div>

                        <div class="form-group no-margin">
                            <label for="password">Email</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input id="email" name="email" type="email" required data-ng-model="joinRegisterData.Email" class="form-control input-lg"
                                       placeholder="Email">
                            </div>
                            <span ng-show="registerForm.email.$error.required">
                                Email is required, and must be a valid email address
                            </span>

                        </div>

                        <div joinpassword-verify data-ng-model="joinRegisterData.confirmpassword" form-name="registerForm"></div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger" data-ng-click="joinregister()" data-ng-disabled="registerForm.$invalid">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Register</small>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
