<div class="single-widget-container" ng-controller="resetPasswordController">
    <div class="pageheader">
        Reset Password
    </div>
    <div class="well col-md-4" style="margin: 20px 300px">
        <section class="widget login-widget">
            <header class="text-align-center">
                <div ng-hide="message == ''" ng-class="(isError) ? 'alert alert-danger' : ''" style="padding:5px; margin-bottom:-15px;">
                    <h4>{{resetpasswordData.message}}</h4>
                    <hr />
                </div>
            </header>
            <div class="body">
                <form class="form-login no-margin" role="form" name="resetForm">
                    <fieldset>
                        <div resetpassword-verify data-ng-model="resetpasswordData.ConfirmPassword" form-name="resetForm"></div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger" data-ng-click="resetpassword()" data-ng-disabled="resetForm.$invalid">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Reset Password</small>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
